/* Reset de margens e fontes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f7f6;
    color: #333;
}

/* Cabeçalho / Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #e8ebee;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #e8ecf0;
}

/* Seção Hero (Destaque) */
.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url('FAÇA-BONITO.jpg') no-repeat center center/cover;
    color: white;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Botão CTA (Call to Action) */
.cta-button {
    background-color: #f7f7f7;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: background 0.3s;
}

.cta-button:hover {
    background-color: #e1e6e9;
}

/* Rodapé */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #edf1f5;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}